.container_bg_cat {
    margin-top: 72vh;
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: flex-end;
    position: absolute;
    z-index: 3;

}

.paw_cat {
    height: 60px;
    animation-duration: 30s;
    animation-name: paw_up;
    position: absolute;
    animation-iteration-count: infinite;
    transition: 0.5s;
    animation-delay: 4s;
    opacity: 0;
    z-index: 2;


}

.paw_cat2 {
    height: 60px;

    animation-duration: 30s;
    animation-name: paw_up;
    position: absolute;
    animation-iteration-count: infinite;
    transition: 0.5s;
    left: 20vw;
    animation-delay: 12s;
    opacity: 0;
    z-index: 2;
}

.paw_cat3 {
    height: 60px;

    animation-duration: 30s;
    animation-name: paw_up;
    position: absolute;
    animation-iteration-count: infinite;
    transition: 0.5s;
    left: 50vh;
    opacity: 0;
    z-index: 2;
}

.paw_cat4 {
    height: 60px;
    animation-duration: 30s;
    animation-name: paw_up;
    position: absolute;
    animation-iteration-count: infinite;
    transition: 0.5s;
    left: 70vw;
    animation-delay: 15s;
    opacity: 0;
    z-index: 2;
}

.paw_cat5 {
    height: 60px;
    animation-duration: 30s;
    animation-name: paw_up;
    position: absolute;
    animation-iteration-count: infinite;
    transition: 0.5s;
    left: 90vw;
    opacity: 0;
    animation-delay: 17s;
    z-index: 2;
}

.paw_cat6 {
    height: 60px;
    animation-duration: 30s;
    animation-name: paw_up;
    position: absolute;
    ;
    animation-iteration-count: infinite;
    transition: 0.5s;
    left: 20vw;
    opacity: 0;
    animation-delay: 6s;
    z-index: 2;
}

.paw_cat7 {
    height: 60px;
    animation-duration: 30s;
    animation-name: paw_up;
    position: absolute;
    ;
    animation-iteration-count: infinite;
    transition: 0.5s;
    left: 40vw;
    opacity: 0;
    animation-delay: 16s;


}

.paw_cat8 {
    height: 60px;
    animation-duration: 30s;
    animation-name: paw_up;
    position: absolute;
    ;
    animation-iteration-count: infinite;
    transition: 0.5s;
    left: 40vw;
    opacity: 0;
    animation-delay: 6s;


}

.paw_cat9 {
    height: 60px;
    animation-duration: 30s;
    animation-name: paw_up;
    position: absolute;
    ;
    animation-iteration-count: infinite;
    transition: 0.5s;
    left: 60vh;
    opacity: 0;
    animation-delay: 3s;


}

.paw_cat10 {
    height: 60px;
    animation-duration: 30s;
    animation-name: paw_up;
    position: absolute;
    ;
    animation-iteration-count: infinite;
    transition: 0.5s;
    left: 10vh;
    opacity: 0;
    animation-delay: 20s;

}

@keyframes paw_up {
    0% {
        opacity: 0;
        top: 0px;
    }

    10% {
        opacity: 0
    }

    20% {
        opacity: 0.5;
    }

    25% {
        opacity: 0;
    }

    45% {
        opacity: 0
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0
    }

    80% {
        opacity: 0.5;
    }

    95% {
        opacity: 0.5
    }

    100% {
        top: -710px;
        ;
        opacity: 1;
    }
}