@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:relative;
    z-index:1;
}

/* container logo y pestaña de favoritos */
.container_favorites {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.icon_favorites {
    font-size: 6vh;
    color: #FF5757;
    padding: 3vh 3vh 0vh 0vh;
    position: absolute;
    cursor: pointer;
    transition: 0.5s;
}

.icon_favorites:hover {
    font-size: 6vh;
    text-shadow: 0px 0px 5px #FF5757;
    transition: 0.5s;
}

/* fin de favoritos */
.logo {
    height: 30vh;
    width: 30vh;
    position:relative;
}

/*  */
.subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 5vh;
    padding: 2vh;
    text-align: center;
    max-width: 700px;
    text-align: center;
    margin: 0 auto 31px;
    align-content: normal;
    box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;
    border-radius: 14px;
    border: none;
    z-index:4;
    position:relative;
}

@media (max-width: 600px) {
    .subtitle {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 5vh;
        padding: 2vh;
        text-align: center;
        max-width: 700px;
        text-align: center;
        margin: 0 auto 31px;
        align-content: normal;
        box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;
        border-radius: 14px;
        border: none;
    }
}

/* componente buscador */
.container_search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.input_search {
    background-color: #D9D9D9;
    border: 0;
    height: 5vh;
    width: 50%;
    border: 1px white;
    border-radius: 5vh;
    padding-left: 2vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.5vh;
    min-width: 268px;
    max-width: 500px;
}

.input_search:focus {
    outline: none;
}

.btn_search {
    height: 5vh;
    width: 5vh;
    border-radius: 20vh;
    position: relative;
    margin-left: -5vh;
    border: 0;
    box-shadow: 0px 0px 0px 1px rgb(136, 136, 136);
    cursor: pointer;
}

/* fin de los estilos en el buscador */

/* estilos de los botónes */
.filter_dog_cat {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 0vh 5vh 0vh;
}

.btn_cat,
.btn_dog {
    background-color: white;
    box-shadow: 0px 0px 0px 1px #FF5757;
    height: 20vh;
    width: 20vh;
    border: none;
    cursor: pointer;
    margin: 0vh 5%;
    border-radius: 3vh;
    transition: 0.3s;
}
.btn_dog.active , .btn_cat.active{
    background-color: #FF5757;
    box-shadow: 0px 0px 15px #f84949;
    height: 20.5vh;
    width: 20.5vh;
    transition: 0.3s;
}
.btn_dog.active .btn_dog_svg , 
.btn_cat.active .btn_cat_svg{
    fill:white;
}


.btn_cat:hover,
.btn_dog:hover {
    box-shadow: 0px 0px 15px #f84949;
    height: 20.5vh;
    width: 20.5vh;
    transition: 0.3s;

}

.btn_cat_svg,
.btn_dog_svg {
    fill: #FF5757;
}


.line {
    width: 100%;
    position: absolute;
    height: 1px;
    background-color: #FF5757;
    z-index: -1;
    box-shadow: 0px 0px 5px #f84949;
}


.slide-in-left{-webkit-animation:slide-in-left 1.5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-left 1.5s cubic-bezier(.25,.46,.45,.94) both}


@-webkit-keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}